{% load staticfiles %}
{% load leaflet_tags %}

<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}

    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Local Brewster Conservation Trust</title>

    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
    <!--google maps api with key-->
    <script src="https://unpkg.com/es6-promise@4.0.5/dist/es6-promise.min.js"></script>
    <script>ES6Promise.polyfill();</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCou0awDsld16RrRKjMeQN4Mx_Ue89iY" async
            defer></script>


    <!--assorted library plugins css-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!--bootstrap tour plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css"/>


</head>
<body>
<!--welcome modal container-->
<div id="welcome" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Brewster Conservation Trust</h3>
            </div>
            <div class="modal-body">
                <h3>Welcome</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis risus vulputate, condimentum libero ut, lacinia felis.
                    Nam feugiat odio semper nunc suscipit semper euullamcorper neque. In eu elementum orci, quis maximus augue. Nulla in augue
                    quis turpis hendrerit faucibus. Vivamus rutrum, mauris ut ultrices vulputate, neque massa ullamcorper
                    sem, ultricies porta est ligula et nisl. Integer elementum purus luctus eros consequat, vel vehicula mi porttitor.
                    Nullam tellus est, blandit nec leo non, vehicula egestas tellus.Suspendisse eros augue, hendrerit at sagittis
                    eu, sodales sit amet sapien. Integer at enim fringilla, elementum ipsum eu, volutpat lacus.
                </p>

                <h3>Getting Started</h3>

                <p>After closing this window, click on any icon for information on property.
                    Or take a short guided tour for more navigation tips</p>


            </div>
            <div class="modal-footer">
                </p>
                <button id="tour-btn" type="button" class="btn btn-success">Guided Tour</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% leaflet_map "main" callback="main_map_init" %}
<script src="https://unpkg.com/@turf/turf@3.5.2/turf.min.js"></script>
<script type="text/javascript">


    var map;

    L.MakiMarkers.accessToken = "pk.eyJ1IjoiZ2VvbWFqb3I1NiIsImEiOiJjaW9iejZ4cGYwNDc0dnpsejBmc2g0Z3QzIn0.8hKDWYbdQW7cbIE7eeu4-A";
    $(document).ready(function () {

        $("#welcome").modal("show");
        $(window).resize(function () {
            sizeLayerControl()
        });

        $("#legend-btn").click(function () {
            $("#legendModal").modal("show");
            $(".navbar-collapse.in").collapse("hide");
            return false;
        });

        $("#welcome-btn").click(function () {
            $("#welcome").modal("show");
            $(".navbar-collapse.in").collapse("hide");
            return false;
        });
    });

    var greenTree = L.MakiMarkers.icon({
        icon: "park",
        color: "3F9110",
        size: "s"
    });
    var redTree = L.MakiMarkers.icon({
        icon: "park",
        color: "F04441",
        size: "s"
    });
    var blueTree = L.MakiMarkers.icon({
        icon: "park",
        color: "442DB5",
        size: "s"
    });

    var google_hybrid = L.gridLayer.googleMutant({
        type: 'hybrid'
    });
    var google_terrain = L.gridLayer.googleMutant({
        type: 'terrain'
    });
    var google_streets = L.gridLayer.googleMutant({
        type: 'roadmap'

    });
    var baseLayers = {
        "Google Satellite": google_hybrid,
        "Google Streets": google_streets,
        "Google Terrain": google_terrain
    };

    /* Highlight search box text on click */
    $("#searchbox").click(function () {
        $(this).select();
    });


    function main_map_init(map, options) {

        L.control.navbar().addTo(map);

        var layerControl = L.control.groupedLayers(baseLayers, {
            collapsed: false
        }).addTo(map);


        var parceldataurl = '{% url "parceldata" %}';

        function getColor(d) {
            return d == 'A' ? 'green' :
                d == 'B' ? 'red' :
                    d == 'C' ? 'blue' :
                        '#FFEDA0';
        }

        function style(feature) {
            return {
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.2,
                fillColor: getColor(feature.properties.owner_type)
            };
        }


        $.getJSON(parceldataurl, function (parceldata) {

                L.geoJson(parceldata, {
                    style: style,
                    onEachFeature: function (feature, layer) {


                        if (feature.properties.owner_type === "A") {

                            if (feature.geometry.type === 'MultiPolygon') {
                                var centroid = turf.centroid(feature);
                                var lon = centroid.geometry.coordinates[0];
                                var lat = centroid.geometry.coordinates[1];

                                L.marker([lat, lon,], {
                                    icon: greenTree,
                                    title: feature.properties.grantor,
                                    riseOnHover: true,

                                }).bindPopup(feature.properties.narrative).addTo(map);
                            }

                        } else if (feature.properties.owner_type === "B") {
                            if (feature.geometry.type === 'MultiPolygon') {
                                var centroid = turf.centroid(feature);
                                var lon = centroid.geometry.coordinates[0];
                                var lat = centroid.geometry.coordinates[1];

                                L.marker([lat, lon,], {
                                    icon: redTree,
                                    title: feature.properties.grantor,
                                    riseOnHover: true
                                }).addTo(map);
                            }


                        } else {
                            if (feature.geometry.type === 'MultiPolygon') {
                                var centroid = turf.centroid(feature);
                                var lon = centroid.geometry.coordinates[0];
                                var lat = centroid.geometry.coordinates[1];
                                L.marker([lat, lon,], {
                                    icon: blueTree,
                                    title: feature.properties.BCT,
                                    riseOnHover: true
                                }).addTo(map);

                            }
                        }

                    }
                    {#                onEachFeature: function (feature, layer) {#}
                    {#                    var props = feature.properties;#}
                    {#                    console.log(props.bct_id);#}
                    {#                    layer.bindPopup(props.bct_id + props.grantor + props.narrative);#}
                    {##}
                    {#                }#}
                }).addTo(map);
            }
        )
        ;

        var brewsterdataurl = '{% url 'brewsterdata' %}';
        $.getJSON(brewsterdataurl, function (brewsterdata) {
            L.geoJSON(brewsterdata).addTo(map);
        });

        var google_streets = L.gridLayer.googleMutant({
            type: 'roadmap'
        }).addTo(map);

        {#            console.log(map.getCenter());#}
    }

    {#    });#}
</script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-icon-container"><a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
                <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i
                        class="fa fa-search fa-lg white"></i></a>
            </div>
            <a class="navbar-brand" href="#">Brewster Conservation Trust</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="legend-btn"><i class="fa fa-image white"></i>&nbsp;&nbsp;Show Legend</a></li>
                {#                <li class="hidden-xs"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="legend-btn"><i class="fa fa-image white"></i>&nbsp;&nbsp;Show Legend</a></li>#}
                <li class="hidden-xs"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="list-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Search Grantors List</a></li>
                <li class="hidden-xs"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="slideshow-btn"><i class="fa fa-camera-retro white"></i>&nbsp;&nbsp;Image Gallery</a></li>
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn"><i class="fa fa-question-circle white"></i>&nbsp;&nbsp;About</a></li>
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="welcome-btn"><i class="fa fa-file-text white"></i>&nbsp;&nbsp;Introduction</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome to the Brewster Conservation Trust Interactive Web Map</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et metus at turpis viverra maximus. Maecenas faucibus auctor gravida. Donec quis mattis nunc. In bibendum
                        mattis molestie. Praesent ac dolor non justo porta pretium. Vivamus hendrerit facilisis velit, at pulvinar enim euismod sit amet. Sed at lectus vel ante mollis lacinia. Nunc
                        bibendum, augue id suscipit luctus, enim libero gravida nulla, congue iaculis augue velit sit amet massa. Suspendisse facilisis ornare est vel maximus. Suspendisse sed volutpat
                        libero. Integer dapibus turpis magna, volutpat blandit mi convallis et. Quisque pellentesque mauris ut tortor hendrerit pretium. Sed velit neque, varius eget mollis et,
                        elementum ac massa. Morbi eu ligula id tellus bibendum laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis nibh
                        purus.</p>
                    <p>The data provided on this site is for informational and planning purposes only.</p>
                    <p>Absolutely no accuracy or completeness guarantee is implied or intended.</p>
                    <p>All information on this map is subject to such variations and corrections as might result
                        from a complete title search and/or accurate field survey.</p>
                    <p>All data and associated information provided by the Brewster Conservation Trust</p>
                </div>
                <!--</div>-->
                <!--</div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="legendModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Map Legend</h4>
            </div>
            <div class="modal-body">

                <img src="/static/img/greenTree.png">&nbsp&nbsp&nbspBCT Owned Land<br>
                <img src="/static/img/blueTree.png">&nbsp&nbsp&nbspConservation Restriction on Private Land<br>
                <img src="/static/img/redTree.png">&nbsp&nbsp&nbspConservation Restriction on Town Land
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="slideshowModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="bct-navbar-gallery">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">BCT Property Slide Show</h3>
            </div>
            <div class="modal-body">
                <div id="bct_nanogallery2"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>

{#<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>#}
{#<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>#}

{#<script src="assets/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js"></script>#}
{#<script src="assets/js/leaflet.navbar/Leaflet.NavBar.js"></script>#}
{#<script src="assets/js/Leaflet.MakiMarkers.js"></script>#}
{#<script src="assets/js/leaflet.ajax.js"></script>#}
{#<script src="assets/js/leaflet.easyPrint.js"></script>#}
{#<script src="/static/js/app.js"></script>#}
</body>
</html>