{% load leaflet_tags %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>
</head>
<body>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Brewster Conservation Trust</title>


    <!--google maps api with key-->
    <script src="https://unpkg.com/es6-promise@4.0.5/dist/es6-promise.min.js"></script>
    <script>ES6Promise.polyfill();</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCou0awDsld16RrRKjMeQN4Mx_Ue89iY" async
            defer></script>

    <!--jquery library-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


    <!--assorted library plugins css-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/solar/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GC77SCz5O11gVtXl0sSfbQYEWSSznn1wPDHgL1BGUTFU9iEoUrG4IOJa5CBVY8kR" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="assets/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css">
    <link rel="stylesheet" href="assets/js/leaflet.navbar/Leaflet.NavBar.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <!-- nanogallery2 -->
    <link href="assets/js/nanogallery2/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="assets/js/nanogallery2/jquery.nanogallery2.min.js"></script>

    <!--bootstrap tour plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css"/>

    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="assets/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>


{% leaflet_map "main" callback="main_map_init" %}

<script type="text/javascript">
    function main_map_init(map, options) {

        var pointdataurl = '{% url "pointdata" %}';
        $.getJSON(pointdataurl, function (pointdata) {
            L.geoJson(pointdata).addTo(map);
        });

        var parceldataurl = '{% url "parceldata" %}';
        $.getJSON(parceldataurl, function (parceldata) {
            L.geoJson(parceldata).addTo(map);
        });

        var brewsterdataurl = '{% url 'brewsterdata' %}';
        $.getJSON(brewsterdataurl, function (brewsterdata) {
            L.geoJSON(brewsterdata).addTo(map);
        });
    }

</script>

</body>
</html>